
@{
    ViewData["Title"]="Create Department";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<h2>
    Current User: @HttpContextAccessor.HttpContext.Session.GetString("CurrentUser")
</h2>

@model Department

<h1 class="bg-info text-white" style="margin-bottom:10px">Create Department</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:10px">Create</button>
</form>
