@{
    ViewData["Title"] = "Update Department";
}

@model Department
<a asp-action="Index" class="btn btn-secondary" style="margin-bottom:10px">Go Back</a>
<h1 class="bg-info text-white">Update Department Name</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:10px">Update</button>
</form>

