@{
    ViewData["Title"] = "View Bag Example";
}

<h2>Current Datetime and Year: @ViewBag.CurrentDateTime and @ViewBag.CurrentYear</h2>
<h2>Current User: @ViewBag.CurrentUser</h2>
<h2>Current User: @ViewBag.CurrentUser</h2>

