
@{
    ViewData["Title"] = "Create Information";
}

@model Information
<h1 class="bg-info text-white" style="margin-bottom:10px">Create Information</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="License"></label>
        <input asp-for="License" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Established"></label>
        <input asp-for="Established" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Revenue"></label>
        <input asp-for="Revenue" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:10px">Create</button>
</form>
